<h1> 
    <%= title %> 
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" " cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>

    <div id="posts-list-container">
        <ul>
            <% for(i of posts){%>
                
                <li>
                    <p>
                        <% if (locals.user && locals.user.id == i.user.id) { %>
                        <small>
                            <a href="/posts/destroy/<%= i.id %>">x</a>
                        </small>
                        <% } %>
                            <%=i.content%>
                            <br>
                            <small>
                                <%= i.user.name %>
                            </small>
                            </p>
                            <div class="post-comments">
                                <% if (locals.user) { %>
                                    <form action="/comments/create" method="POST">
                                        <input type="text" name="content" placeholder="Type Here to add comment...">
                                        <input type="hidden" name="post" value="<%= i._id %>">
                                        <input type="submit" value="Add Comment">
                                    </form>
                                <% } %>    

                                <div class="post-comments-list">
                                    <ul id="post-comments-<%= i._id %>">
                                        <% for (j of i.comments) { %>
                                            <p>
                                                <% if (locals.user && locals.user.id == j.user.id) { %>
                                                    <small>
                                                        <a href="/comments/destroy/<%= j.id %>">x</a>
                                                    </small>
                                                    <% } %>
                                                <%= j.content %>
                                                <br>
                                                <small>
                                                    <%= j.user.name %>
                                                </small>
                                            </p>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                </li>

                <% } %>
        </ul>
    </div>
</section>